/* #slide_background {
      -webkit-transition: all 0.3s 0.3s;
         -moz-transition: all 0.3s 0.3s;
              transition: all 0.3s 0.3s;
    }
    #slide,
    #slide_wrapper {
        -webkit-transition: all 1s;
           -moz-transition: all 1s;
                transition: all 1s;
    }
    #slide {
        -webkit-transform: translateX(0) translateY(-40%);
           -moz-transform: translateX(0) translateY(-40%);
            -ms-transform: translateX(0) translateY(-40%);
                transform: translateX(0) translateY(-40%);
    }
    .popup_visible #slide {
        -webkit-transform: translateX(0) translateY(0);
           -moz-transform: translateX(0) translateY(0);
            -ms-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
    }*/