<head>
	<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="left">
	<div class='container'>
		<div class='row'>
			
			<button type="button" class="btn btn-primary btn-lg" id='phone-on' data-toggle="modal" data-target="#myModal">
				<span class='glyphicon glyphicon-earphone'></span> Open My Phone</button>
			<!-- <button type="button" class="btn btn-danger" id='phone-off' style='display:none'>Close My Phone</button> -->
			<button type="button" class="btn btn-success" id='call' style='display:none'>Call My Freinds</button>
		</div>
	</div>
	
</body>